---
import type { PaginateFunction } from 'astro';
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Layout from '@/layouts/Layout.astro';
import Link from '@/components/Link.astro';
import WebsiteCards from '@/components/WebsiteCards.astro';
import { href } from '@/utils';

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
 const developers = await getCollection('developers');
 return paginate(developers, { pageSize: 30 });
}
const { page } = Astro.props;
---

<Layout title={`Developer Portfolios | Page ${page.currentPage}/${page.lastPage}`}>
 <div class='min-h-screen p-4' transition:animate='none'>
  <WebsiteCards developers={page.data.sort((a, b) => b.data.tags.length - a.data.tags.length)} />
  <div class='mt-8 flex justify-center'>
   <Link class='me-3' href={href(page.url.prev || page.url.current)} type='button' data-disabled={!page.url.prev}>
    <Icon name='lucide:arrow-left' />
   </Link>
   <form class='me-3'>
    <input type='number' value={page.currentPage} max={page.lastPage} min='1' class='h-10 w-12 self-center rounded-lg border border-gray-300 py-2 text-center' />
   </form>
   <Link href={href(page.url.next || page.url.current)} type='button' data-disabled={!page.url.next}>
    <Icon name='lucide:arrow-right' />
   </Link>
  </div>
 </div>
 <!-- Navigation Buttons -->
</Layout>
<script>
 import { navigate } from 'astro:transitions/client';
 import { href } from '@/utils';
 document.querySelector('form')?.addEventListener('submit', (event: SubmitEvent) => {
  event.preventDefault();
  const target = event.target as HTMLFormElement;
  const input = target.querySelector('input') as HTMLInputElement;
  navigate(href(`/page/${input.value}`), { state: { page: input.value } });
 });
</script>
