---
import type { PaginateFunction } from 'astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from 'src/layouts/Layout.astro';

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
 const developers = await getCollection('developers');
 return paginate(developers, { pageSize: 20 });
}
const { page } = Astro.props;
---

<Layout title={`Developer Portfolios - ${page.currentPage}`}>
 <ul class='grid min-h-full w-screen grid-cols-[repeat(auto-fill,_minmax(340px,_1fr))] gap-4 p-4 lg:grid-cols-[repeat(auto-fill,_minmax(425px,_1fr))] xl:grid-cols-[repeat(auto-fill,_minmax(510px,_1fr))]'>
  {
   page.data.map((developer, i) => {
    return (
     <li class='border-2 border-black drop-shadow-xl'>
      <a href={developer.data.url}>
       <Image src={developer.data.screenshot} alt={`${developer.data.name}'s website screenshot'`} width={developer.data.screenshot.width} quality={80} decoding='async' loading='lazy' format='webp' />
      </a>
     </li>
    );
   })
  }
 </ul>
</Layout>
